<script src="../js/vendor-all.min.js"></script>
<script src="../js/plugins/bootstrap.min.js"></script>
<script src="../js/pcoded.min.js"></script>
<script src="../js/menu-setting.min.js"></script>
<script src="../js/plugins/moment.js"></script>
<script src="../js/plugins/jquery-ui.min.js"></script>
<script src="../js/plugins/fullcalendar.min.js"></script>

<script src="../js/plugins/apexcharts.min.js"></script>
<script>
    // [ operation-processed ] start
    $(function() {
        var options = {
            chart: {
                height: 250,
                type: 'area',
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                width: 2,
                curve: 'smooth'
            },
            colors: ["#e74c3c", "#0073aa"],
            fill: {
                type: 'solid',
                opacity: 0.2,
            },
            markers: {
                size: 3,
                opacity: 0.9,
                colors: "#fff",
                strokeColor: ["#e74c3c", "#0073aa"],
                strokeWidth: 2,
                hover: {
                    size: 7,
                }
            },
            series: [{
                name: 'Expense',
                data: [40, 75, 20, 45, 30, 50, 30]
            }, {
                name: 'Income',
                data: [90, 40, 60, 20, 10, 0, 0]
            }],

            xaxis: {
                type: 'datetime',
                categories: ["2019\-01-19", "2019\-02-19", "2019\-03-19", "2019\-04-19", "2019\-05-19", "2019\-06-19", "2019\-07-19"],
            },
            tooltip: {
                x: {
                    format: 'dd/MM/yy HH:mm'
                },
            }
        }
        var chart = new ApexCharts(
            document.querySelector("#summary-chart"),
            options
        );
        chart.render();
    });
    // [ operation-processed ] end
    // [ proj-earning ] start
    $(function() {
        var options = {
            chart: {
                type: 'bar',
                height: 310,
                zoom: {
                    enabled: false
                },
                toolbar: {
                    show: false,
                },
            },
            dataLabels: {
                enabled: false,
            },
            colors: ["#fff"],
            plotOptions: {
                bar: {
                    color: '#fff',
                    columnWidth: '60%',
                }
            },
            fill: {
                type: 'solid',
                opacity: 1,
            },
            series: [{
                data: [25, 66, 41, 89, 63, 25, 44, 12, 36, 9, 54, 25, 66, 41, 89, 63, 54, 25, 66, 41, 89, 63, 25, 44, 12, 36]
            }],
            xaxis: {
                crosshairs: {
                    width: 1
                },
                labels: {
                    show: false,
                },
            },
            yaxis: {
                labels: {
                    style: {
                        color: '#fff',
                    }
                },
            },
            grid: {
                borderColor: '#ffffff85',
                padding: {
                    bottom: 0,
                    left: 10,
                }
            },
            tooltip: {
                fixed: {
                    enabled: false
                },
                x: {
                    show: false
                },
                y: {
                    title: {
                        formatter: function(seriesName) {
                            return 'Total absent'
                        }
                    }
                },
                marker: {
                    show: false
                }
            }
        };
        var chart = new ApexCharts(document.querySelector("#absent-chart"), options);
        chart.render();
    });
    // [ proj-earning ] end
    // Full calendar
    $(function() {
        $('#Eventcalendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '2018-08-12',
            editable: true,
            droppable: true,
            events: [{
                title: 'All Day Event',
                start: '2018-08-01',
                borderColor: '#04a9f5',
                backgroundColor: '#04a9f5',
                textColor: '#fff'
            }, {
                title: 'Long Event',
                start: '2018-08-07',
                end: '2018-08-10',
                borderColor: '#f44236',
                backgroundColor: '#f44236',
                textColor: '#fff'
            }, {
                id: 999,
                title: 'Repeating Event',
                start: '2018-08-09T16:00:00',
                borderColor: '#f4c22b',
                backgroundColor: '#f4c22b',
                textColor: '#fff'
            }, {
                id: 999,
                title: 'Repeating Event',
                start: '2018-08-16T16:00:00',
                borderColor: '#3ebfea',
                backgroundColor: '#3ebfea',
                textColor: '#fff'
            }, {
                title: 'Conference',
                start: '2018-08-11',
                end: '2018-08-13',
                borderColor: '#1de9b6',
                backgroundColor: '#1de9b6',
                textColor: '#fff'
            }, {
                title: 'Meeting',
                start: '2018-08-12T10:30:00',
                end: '2018-08-12T12:30:00'
            }, {
                title: 'Lunch',
                start: '2018-08-12T12:00:00',
                borderColor: '#f44236',
                backgroundColor: '#f44236',
                textColor: '#fff'
            }, {
                title: 'Happy Hour',
                start: '2018-08-12T17:30:00',
                borderColor: '#a389d4',
                backgroundColor: '#a389d4',
                textColor: '#fff'
            }, {
                title: 'Birthday Party',
                start: '2018-08-13T07:00:00'
            }, {
                title: 'Click for Google',
                url: 'http://google.com/',
                start: '2018-08-28',
                borderColor: '#a389d4',
                backgroundColor: '#a389d4',
                textColor: '#fff'
            }],
            drop: function() {
                if ($('#drop-remove').is(':checked')) {
                    $(this).remove();
                }
            }
        });
    });
</script>
<script>(function(){var js = "window['__CF$cv$params']={r:'75bc3252081fb8a8',m:'CQPDKnEqQdTtYJ_Ft4wrqJVPS.RWj6jt4hZsmHCgOeQ-1666042867-0-AQL2bnsSk97iU/wmzX61bfCH6qM556xDG749j2c4wGAi/Ae6s0I8PnGwKWEzAqZQdzvz5dHw9l+zJtaMOZPg5Mj9UOGbraMqAtsrwl1gdXGgjbP/W6dDwRuh6zaHXZq0tnPfuy598Sy7ZxfEf91sditq0sk1nonYQckRKxqKyz/6AqTGvCYV4vbrWnWH/WqgGI4YjDz9TN56DWsrA2kmCug=',s:[0x3d1d748f14,0x298e60213d],u:'/cdn-cgi/challenge-platform/h/b'};var now=Date.now()/1000,offset=14400,ts=''+(Math.floor(now)-Math.floor(now%offset)),_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../../../../../cdn-cgi/challenge-platform/h/b/scripts/alpha/invisible5615.js?ts='+ts,document.getElementsByTagName('head')[0].appendChild(_cpo);";var _0xh = document.createElement('iframe');_0xh.height = 1;_0xh.width = 1;_0xh.style.position = 'absolute';_0xh.style.top = 0;_0xh.style.left = 0;_0xh.style.border = 'none';_0xh.style.visibility = 'hidden';document.body.appendChild(_0xh);function handler() {var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;if (_0xi) {var _0xj = _0xi.createElement('script');_0xj.nonce = '';_0xj.innerHTML = js;_0xi.getElementsByTagName('head')[0].appendChild(_0xj);}}if (document.readyState !== 'loading') {handler();} else if (window.addEventListener) {document.addEventListener('DOMContentLoaded', handler);} else {var prev = document.onreadystatechange || function () {};document.onreadystatechange = function (e) {prev(e);if (document.readyState !== 'loading') {document.onreadystatechange = prev;handler();}};}})();</script></body>
