<script src="/js/vendor-all.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>
<script src="/js/pcoded.min.js"></script>
<script src="/js/menu-setting.min.js"></script>
<script src="/js/plugins/moment.js"></script>
<script src="/js/plugins/jquery-ui.min.js"></script>
<script src="/js/plugins/fullcalendar.min.js"></script>
<script src="/js/plugins/jquery.dataTables.min.js"></script>
<script src="/js/plugins/dataTables.bootstrap4.min.js"></script>
<script src="/js/pages/data-advance-custom.js"></script>

<script src="/js/plugins/apexcharts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>(function(){var js = "window['__CF$cv$params']={r:'75bc3252081fb8a8',m:'CQPDKnEqQdTtYJ_Ft4wrqJVPS.RWj6jt4hZsmHCgOeQ-1666042867-0-AQL2bnsSk97iU/wmzX61bfCH6qM556xDG749j2c4wGAi/Ae6s0I8PnGwKWEzAqZQdzvz5dHw9l+zJtaMOZPg5Mj9UOGbraMqAtsrwl1gdXGgjbP/W6dDwRuh6zaHXZq0tnPfuy598Sy7ZxfEf91sditq0sk1nonYQckRKxqKyz/6AqTGvCYV4vbrWnWH/WqgGI4YjDz9TN56DWsrA2kmCug=',s:[0x3d1d748f14,0x298e60213d],u:'/cdn-cgi/challenge-platform/h/b'};var now=Date.now()/1000,offset=14400,ts=''+(Math.floor(now)-Math.floor(now%offset)),_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../../../../../cdn-cgi/challenge-platform/h/b/scripts/alpha/invisible5615.js?ts='+ts,document.getElementsByTagName('head')[0].appendChild(_cpo);";var _0xh = document.createElement('iframe');_0xh.height = 1;_0xh.width = 1;_0xh.style.position = 'absolute';_0xh.style.top = 0;_0xh.style.left = 0;_0xh.style.border = 'none';_0xh.style.visibility = 'hidden';document.body.appendChild(_0xh);function handler() {var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;if (_0xi) {var _0xj = _0xi.createElement('script');_0xj.nonce = '';_0xj.innerHTML = js;_0xi.getElementsByTagName('head')[0].appendChild(_0xj);}}if (document.readyState !== 'loading') {handler();} else if (window.addEventListener) {document.addEventListener('DOMContentLoaded', handler);} else {var prev = document.onreadystatechange || function () {};document.onreadystatechange = function (e) {prev(e);if (document.readyState !== 'loading') {document.onreadystatechange = prev;handler();}};}})();</script></body>
