<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head.ejs')-%>
  <body class="">
    <%-include('../partials/nav.ejs')-%> <%-include('../partials/header.ejs')-%>
    <section class="pcoded-main-container">
      <div class="pcoded-content">
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <!-- <div class="col-md-12">
<div class="page-header-title">
<h5 class="m-b-10">Form Elements</h5>
</div>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
<li class="breadcrumb-item"><a href="#!">Form Components</a></li>
<li class="breadcrumb-item"><a href="#!">Form Elements</a></li>
</ul>
</div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Add Student</h5>
                <button class="btn btn-secondary" style="float: right;">Upload Students</button>
              </div>
              <div class="card-body">
                <form id="addStudentForm">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="floating-label" for="Email"
                          >First Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="firstName"
                          placeholder="first name"
                        />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="floating-label" for="Text"
                          >Middle Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="middleName"
                          placeholder="middle name"
                        />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="floating-label" for="password"
                          >Last Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="lastName"
                          placeholder="last name"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="floating-label" for="Email">Couse</label>
                        <input
                          type="text"
                          class="form-control"
                          id="course"
                          placeholder="course"
                        />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="floating-label" for="Text">House</label>
                        <input
                          type="text"
                          class="form-control"
                          id="house"
                          placeholder="house"
                        />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="floating-label" for="password"
                          >Parent Telephone</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="parentTelelphone"
                          placeholder="parent tel"
                        />
                      </div>
                    </div>
                  </div>
                  <input
                    type="submit"
                    value="Save"
                    class="btn btn-primary w-100"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--[if lt IE 11]>
      <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>
          You are using an outdated version of Internet Explorer, please upgrade
          <br />to any of the following web browsers to access this website.
        </p>
        <div class="iew-container">
          <ul class="iew-download">
            <li>
              <a href="http://www.google.com/chrome/">
                <img src="assets/images/browser/chrome.png" alt="Chrome" />
                <div>Chrome</div>
              </a>
            </li>
            <li>
              <a href="https://www.mozilla.org/en-US/firefox/new/">
                <img src="assets/images/browser/firefox.png" alt="Firefox" />
                <div>Firefox</div>
              </a>
            </li>
            <li>
              <a href="http://www.opera.com">
                <img src="assets/images/browser/opera.png" alt="Opera" />
                <div>Opera</div>
              </a>
            </li>
            <li>
              <a href="https://www.apple.com/safari/">
                <img src="assets/images/browser/safari.png" alt="Safari" />
                <div>Safari</div>
              </a>
            </li>
            <li>
              <a
                href="http://windows.microsoft.com/en-us/internet-explorer/download-ie"
              >
                <img src="assets/images/browser/ie.png" alt="" />
                <div>IE (11 & above)</div>
              </a>
            </li>
          </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
      </div>
    <![endif]-->

    <%-include('../partials/scripts.ejs')-%>
  </body>
</html>
